################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/CMS_CORE_NG/Logs/load_error_20201113.txt
